* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(212, 212, 212);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    height: 100vh;
}

.left {
    display: grid;
    grid-template-rows: auto auto auto auto;
    background-color: #261C2C;
    align-content: space-between;
    min-width: 240px;
    text-align: center;
    padding: 8px 0;
}

.projects, .by-date {
    display: grid;
    grid-template-rows: repeat( auto-fit, minmax(32px, 32px) );
    max-height: 226px;
    overflow: auto;    
}

.left > div > button {
    text-align: left;
    padding: 8px;
    letter-spacing: 2px;
    background-color: #3E2C41;
    border: none;
}

.left > div > button:hover {
    background-color: #2a1e2c;
}

.left > div > button:active {
    background-color: #513955;
}

h1, h6 {
    letter-spacing: 1px;
}

.middle{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #5C527F;
}

.card {
    border: 2px solid rgb(212, 212, 212);
    height: 594px;
    width: 420px;
    background-color: #3E2C41;
    display: grid;
    grid-template-rows: 1fr 48px;
}

.content {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto 1fr;
}

.card-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 8px;
}

.card-info {
    padding: 8px;
}

.card-info > p {
    font-size: 14px;
    letter-spacing: 1px;
}

.finished {
    display: grid;
    align-items: center;
    justify-content: center;
}



.right {
    background-color: #261C2C;
}