* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(212, 212, 212);
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 3fr 4fr;
    height: 100vh;
}

.left {
    display: grid;
    grid-template-rows: auto auto auto auto;
    background-color: #261C2C;
    align-content: space-between;
    min-width: 240px;
    text-align: center;
    padding: 8px 0;
}

.left, .tasks {
    box-shadow: 0 0 0 15px rgb(0 0 0 / 10%);
    clip-path: inset(0px -15px 0px 0px);
}

.projects, .by-date {
    display: grid;
    grid-template-rows: repeat( auto-fit, minmax(32px, 32px) );
    max-height: 226px;
    overflow: auto;    
}

.left > div > button {
    text-align: left;
    padding: 8px;
    letter-spacing: 2px;
    background-color: #3E2C41;
    border: none;
    overflow: hidden;
}

.left > div > button:hover {
    background-color: #2c1e2b;
}

.left > div > button:active {
    background-color: #513955;
}

.selected {
    background-color: #2c1e2b !important;
}

h1, h6 {
    letter-spacing: 1px;
}

.middle{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #5C527F;
}

.card {
    border: 2px solid rgb(212, 212, 212);
    height: 594px;
    width: 420px;
    background-color: #3E2C41;
    display: grid;
    grid-template-rows: 1fr 96px;
    border-radius: 2px;
}

.content {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto 1fr;
}

.card-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 8px;
}

.card-info {
    padding: 8px;
}

.card-info > p {
    font-size: 14px;
    letter-spacing: 1px;
}

.finished {
    display: grid;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(212, 212, 212);
}

.finished-task {
    border: none;
    background-color: #513955;
    border-radius: 24px;
    height: 64px;
    width: 64px;
}

.finished-task:hover {
    background-color: #37263a;
}

.finished-task:active {
    background-color: #6b4d70;
}

.finished-task > img {
    margin-bottom: -2px;
}

.tasks {
    background-color: #2c1e2b;
    width: 256px;
}



.right {
    background-color: #261C2C;
}

.css-input {
    width: 96%;
    padding: 4px;
    font-size: 12px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #513955;
    color: rgb(212, 212, 212);
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.50);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    margin-top: -3px;
}
.css-input:focus {
    outline:none;
}